
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Zeyada&display=swap');

body{
    background-color:white;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
    font-family: 'Poppins', sans-serif ;
}
header,section{
    border-radius: 0px 0px 15px 15px;
    border: 1px solid black;
    margin: auto;
}
header{
    border-radius: 15px 15px 0px 0px;
    border: 1px solid black;
    display: flex;
   background-color:beige;
}




 


 /**
 Checkbox "Cambio de Color"
 */

input[type="checkbox"] {
    margin-left: auto;
    margin-top: 0;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  
  
  }
  
  input[type="checkbox"]:checked{
    background-color: rebeccapurple;
  
  }
  
  input[type="checkbox"]::before{
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.7s ease;
  
  }
  
  input[type="checkbox"]:checked::before{
  transform: translateX(20px)
  
  }
  
  .cambio-color header{
    
    background-color: #2149cc;
    color: #f2f2f2;
  }
  .cambio-color section {
    background-color: rgba(51, 100, 82, 0.993);
    color: #f2f2f2;
   }
  
 
   @media (max-width: 767px) {
  
    body {
      font-size: 16px;
      line-height: 1.5;
    }

    img {
      width: 100%;
      margin: 0 auto;
    }
  
    article {
      width: 100%;
    }
   
  }
  

  @media (min-width: 768px) {
   
    body {
      font-size: 18px;
      line-height: 1.8;
    }

    img {
      width: 50%;
      float: left;
      margin: 0 20px 20px 0;
    }

    article {
      width: 60%;
      float: left;
    }
  }


 
 
 
