

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Zeyada&display=swap');

body{
    background-color:white;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
    font-family: 'Poppins', sans-serif ;
}
header,section{
    border-radius: 0px 0px 15px 15px;
    border: 1px solid black;
    width: 960px;
    margin: auto;
}
header{
    border-radius: 15px 15px 0px 0px;
    border: 1px solid black;
    display: flex;
   background-color:beige;
}
h1{
    width: 50%;
}

    section{
      display: flex;

    
}
 aside{
   margin-left: 44px;
    width: 201%;
 }   
   img{
    border-radius: 15px 15px 15px 0px;
    border: 1px groove black;
    margin-right: 16px;
   }
 

  h2,h3,p{
    margin-left: 15px;
  }

h4{ 
margin-bottom: 1px;
margin-top: 1px;
margin-left: 15px;
}
progress{ 
    margin-left: 15px;
    
}



 


 /**
 Checkbox "Cambio de Color"
 */

input[type="checkbox"] {
    margin-left: auto;
    margin-top: 0;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  
  
  }
  
  input[type="checkbox"]:checked{
    background-color: rebeccapurple;
  
  }
  
  input[type="checkbox"]::before{
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.7s ease;
  
  }
  
  input[type="checkbox"]:checked::before{
  transform: translateX(20px)
  
  }
  
  .cambio-color header{
    
    background-color: #2149cc;
    color: #f2f2f2;
  }
  .cambio-color section {
    background-color: rgba(51, 100, 82, 0.993);
    color: #f2f2f2;
   }
  
 